.index_p0{
    background: url(/H5/swiper/images/faye.jpg) center center;
    background-size: cover;
}
.index_p1{
    background: url(/H5/swiper/images/indexP1.jpg) center center;
    background-size: cover;
}
.index_p2{
    background: url(/H5/swiper/images/p.jpg) center center;
    background-size: cover;
}
