.index_p0{
    background: url(/images/indexP0@2x.png) center center;
    background-size: cover;
}
.index_p1{
    background: url(/images/indexP1@2x.png) center center;
    background-size: cover;

}
.index_p2{
    background: url(/images/indexP2@2x.png) center center;
    background-size: cover;

}
